# Git
.git
.gitignore

# Docker
docker-compose.yml
.docker

# Virtual environment
.env/
.venv/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Dev tooling & configs
.env
.env.example
.flake8
.pre-commit-config.yaml

# Documentation
*.md

# Makefile
Makefile
**/env/Makefile.override*
