version: "3.8"

services:
  db:
    container_name: poc_db
    restart: always
    image: postgres:15-alpine
    env_file:
      - .env
    volumes:
      - app_pg_data:/var/lib/postgresql/data
    ports:
      - "65432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d poc_db"]
      interval: 5s
      timeout: 5s
      retries: 5
      
  app:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./app:/app/app
      - ./config:/app/config

volumes:
  app_pg_data:
